@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Commissioner:wght@100..900&family=Metal+Mania&family=Protest+Revolution&display=swap');
@import "tailwindcss";

:root {
  --background: #fffae5;
  --foreground: #000310;
  --heading: #011257;
  --primary: #476afd;
  --secondary: #ffffff;
}

@theme {
  --font-heading: "Metal Mania", sans-serif;
  /* Use in tex-scroll component*/
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-heading: var(--heading);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
}

body {
  background-color: var(--background);
  color: var(--foreground);
}

h1,
h2,
h4,
h5,
h6 {
  color: var(--heading);
}

* {
  /* margin: 0; */
  /* padding: 0; */
  box-sizing: border-box;
}